{% extends 'base.html' %}
{% block body %}<h2>Front Matter</h2>
    <ul>
      <li>Author: {{ author }}</li>
      <li>Category: {{ category }}</li>
      <li>Date: {{ date }}</li>
      <li>Tags: {{ tags|join:", " }}</li>
    </ul>
    <h2>Body</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in purus et
      mi elementum placerat. Ut scelerisque volutpat arcu, non cursus justo
      vulputate a. Donec sit amet neque purus. Suspendisse tincidunt tempor
      massa, sed scelerisque lectus fringilla quis. Donec sit amet massa eu
      magna auctor viverra. Sed quam arcu, volutpat vitae ullamcorper eget,
      eleifend at arcu. Ut dictum purus erat, sollicitudin aliquam diam
      sollicitudin at. Duis sed mi laoreet sem mollis vehicula a ut enim. Orci
      varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Donec hendrerit lacus et elit elementum cursus. Curabitur
      et pretium odio, vel scelerisque ligula. Mauris nisi lectus, consequat vel
      nisl sed, tristique porttitor quam. Vivamus non metus id erat vehicula
      tincidunt. Aenean feugiat in enim volutpat tincidunt.
    </p>
    <p>
      In interdum luctus tempor. Duis congue est et aliquam congue. Sed blandit
      bibendum molestie. Fusce in laoreet diam. Donec semper dui eu dolor
      luctus, sed placerat felis gravida. Ut facilisis in risus vel suscipit.
      Proin {{ var1 }} lectus, eleifend eget venenatis in, commodo vel turpis.
      Sed congue risus nec vulputate auctor.
    </p>
    <p>
      Ut tincidunt, quam sed viverra pretium, ligula risus pellentesque ipsum,
      vitae faucibus urna mauris maximus magna. Cras arcu ante, mollis nec
      cursus ut, fringilla at urna. Morbi pharetra quam non tincidunt placerat.
      Pellentesque vel cursus justo. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Praesent lorem augue, maximus at tortor eu, consequat
      scelerisque purus. Quisque bibendum pretium cursus. Pellentesque
      pellentesque, arcu ac bibendum commodo, sem massa mollis augue, vitae
      volutpat tellus lectus eu risus. Pellentesque libero orci, scelerisque id
      suscipit quis, pretium sit amet diam. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. In gravida, sem ac aliquam sollicitudin, nunc
      dolor venenatis nisl, eu fermentum diam magna quis diam.
    </p>
    <p>
      Nunc ex sapien, semper non libero id, consectetur imperdiet sem. Morbi
      aliquet massa a posuere finibus. Duis aliquet lacus et arcu aliquam, vel
      rhoncus orci feugiat. Duis aliquam libero quis lectus finibus, nec
      convallis ex porta. Nullam vel dignissim ante. Cras facilisis tincidunt
      nibh eu vehicula. Proin sed ex eu nunc suscipit suscipit. Sed sit amet
      {{ var2 }} efficitur, tincidunt arcu id, venenatis neque. Nulla molestie,
      urna a mollis aliquam, velit magna semper orci, eu fringilla magna odio
      condimentum tellus. Vivamus feugiat lorem non quam congue semper. Fusce eu
      ligula at lacus rutrum viverra at eget mauris. In vel risus ut lorem
      aliquam fringilla.
    </p>
    <p>
      Donec eleifend, libero eget imperdiet condimentum, nisi lacus tempor dui,
      a maximus augue erat ac erat. Pellentesque mattis feugiat tempor. Donec
      ullamcorper ante dolor, egestas tincidunt urna ultrices at. Etiam
      molestie, leo eget commodo eleifend, dolor arcu ultricies mauris, a
      porttitor mauris arcu quis ex. Cras nec purus ac risus cursus aliquet at
      ut justo. Sed semper aliquam neque, quis facilisis urna imperdiet
      imperdiet. Suspendisse dictum pretium nisl vitae posuere. Nulla facilisi.
      Nullam lobortis felis nec ante sagittis, auctor tristique dolor volutpat.
      Etiam mollis, arcu quis placerat commodo, urna justo euismod purus, sed
      interdum dolor metus non nisl. In eu urna vel diam placerat bibendum sit
      amet sit amet magna. In vel orci ut tortor dapibus pellentesque. Phasellus
      quis consectetur lorem. Ut mollis purus sit amet mauris sagittis, vitae
      aliquet magna placerat. Etiam nunc massa, laoreet et tellus et, porta
      varius arcu.
    </p>
    <p>
      Etiam ultrices venenatis varius. Aliquam lacinia est efficitur volutpat
      varius. Duis vel urna ex. Curabitur viverra fermentum sodales. Suspendisse
      auctor cursus {{ var3 }} vitae cursus. Sed nisi nisl, volutpat non lorem
      quis, faucibus pellentesque ex. In maximus, ipsum sit amet tempus egestas,
      lacus diam volutpat eros, vel consectetur ante mauris eget dui.
      Suspendisse in vulputate elit. Mauris quis ipsum neque. Quisque faucibus
      efficitur nisi, ut blandit turpis rutrum vel. Duis tincidunt ligula
      {{ var4 }}, vitae sollicitudin erat malesuada et. Suspendisse interdum ut
      augue at tincidunt. Integer luctus mi sed risus hendrerit luctus. Etiam
      semper convallis aliquet.
    </p>
    <p>
      Duis rhoncus tristique augue, ut finibus ipsum suscipit ut. Suspendisse
      viverra urna eu nisl volutpat rutrum. Duis scelerisque nec ligula in
      posuere. Duis facilisis nisl quis nisl suscipit, ut luctus quam feugiat.
      Sed tempor vulputate velit, non condimentum orci interdum a. Integer velit
      magna, convallis vel luctus quis, fringilla eu felis. Nunc leo dolor,
      viverra sed tincidunt ac, tempus ac leo. Proin tincidunt tortor sapien,
      vulputate sollicitudin arcu tincidunt sed. Sed sagittis gravida erat, nec
      cursus enim consequat at. Cras a mauris vestibulum, vehicula justo eget,
      finibus ante. Praesent hendrerit mi sed est semper dapibus. Nam dictum
      ligula non dui faucibus laoreet. Duis mollis at risus ut consectetur.
      Quisque rhoncus {{ var5 }} eu lacinia posuere.
    </p>
    <p>
      Quisque ut velit dignissim, gravida lacus id, lobortis mauris. Curabitur
      sed massa faucibus, blandit ex id, aliquam mauris. Donec pulvinar eros at
      nisi hendrerit molestie. Donec pretium, augue ut dictum viverra, lectus
      velit faucibus metus, at sagittis ante lacus sed ipsum. In hac habitasse
      platea dictumst. Curabitur lacus mi, semper ut diam id, pretium ultrices
      sapien. Cras luctus aliquet felis nec tempor. Curabitur viverra mauris sit
      amet ultricies luctus. Maecenas non fringilla enim. Proin volutpat, ligula
      et tristique malesuada, dui leo pulvinar nisl, eget finibus nisi quam a
      augue. Mauris quis quam auctor, suscipit libero eget, tempor massa.
      Vivamus vitae {{ var6 }} nunc. Aenean arcu neque, ultrices sit amet auctor
      tempor, tempus quis massa. Vestibulum consectetur eu nisl hendrerit
      accumsan.
    </p>
    <p>
      Sed et elit urna. Sed pharetra pellentesque pretium. Aliquam volutpat
      gravida felis. Vivamus justo massa, laoreet tincidunt sapien quis,
      lobortis faucibus augue. In id diam orci. In aliquet massa ut lectus
      sollicitudin feugiat. Nullam in commodo lacus, id laoreet leo. Curabitur a
      dapibus nibh. Sed ac pretium sapien. Nullam porttitor ex et rutrum
      vestibulum. Pellentesque nunc augue, efficitur vitae sapien eget, eleifend
      fringilla lectus. Nullam feugiat lectus eget justo vehicula, et cursus
      urna elementum. Phasellus ut libero ullamcorper, placerat {{ var7 }} quis,
      congue quam. Duis imperdiet facilisis eros sollicitudin pretium. Proin
      vitae interdum orci. Nulla sed enim nunc.
    </p>
    <p>
      Quisque gravida tincidunt mollis. Duis sit amet varius neque, porttitor
      pulvinar urna. Sed pulvinar leo massa, ut luctus sem varius et. Vestibulum
      erat odio, convallis eget {{ var8 }} nec, tincidunt facilisis ante. Donec
      justo ipsum, dictum nec quam ut, varius eleifend nisi. In hac habitasse
      platea dictumst. Fusce non nisl sit amet tellus lobortis fermentum.
      Vivamus rutrum dignissim varius. Duis facilisis dictum pulvinar.
    </p>
    <p>
      Maecenas vehicula sodales ultricies. Donec dapibus arcu justo, et congue
      ex fringilla sit amet. Curabitur tincidunt massa et sapien imperdiet, ac
      faucibus neque porta. Vestibulum sed massa nec mi blandit semper a id
      lectus. Vestibulum nec velit ut tellus cursus convallis. Maecenas
      tristique tortor id luctus tempus. Donec cursus ornare ligula ut maximus.
      Fusce scelerisque {{ var9 }} euismod neque lobortis, eget commodo tellus
      congue. Suspendisse a eleifend magna, nec suscipit dolor.
    </p>
    <p>
      Suspendisse nec est pellentesque, egestas sapien sed, porttitor quam. Nam
      fringilla volutpat tempor. Donec ante nibh, rutrum a {{ var10 }} sit amet,
      sollicitudin varius dui. Donec pellentesque libero in justo commodo, eu
      dignissim neque sollicitudin. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Sed nec vulputate neque. Donec
      iaculis, lacus vel malesuada elementum, {{ var11 }} sem tristique sem, ac
      tincidunt libero nisi eget orci. Ut scelerisque metus vitae dui finibus,
      et fringilla magna condimentum. Aenean elementum nunc quis arcu viverra
      tristique. Suspendisse ut euismod ligula, sed dignissim massa. Nunc rutrum
      sapien neque, eu congue purus vulputate non. Suspendisse potenti. Sed
      lacinia eros massa, eu commodo nisl aliquet id. Phasellus mattis vel magna
      pharetra vehicula. Mauris consectetur molestie velit, et consectetur
      lectus ullamcorper et.
    </p>{% endblock %}
